body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #222;
}


<<<<<<< HEAD
/* HEADER - Fixed */
.nav {
 background: #3b2a28;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.nav-logo {
  display:flex;
  align-items: center;
  gap: 10px;
=======
.nav-bar {
    background: #403234; 
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo {
    color:white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
>>>>>>> 57de026ae6ae6279de2ed65c1989b96d422efdc4
  font-size: 20px;
  font-weight: bold;
}

<<<<<<< HEAD
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  background-color: #E2C2B3;
  color: #3b2a28;
}

.nav-links a.active {
  background-color: #D4B3A7;
  color: #3b2a28;
}

.nav-logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
=======

.nav-right a{
    text-decoration: none;
    color:white;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.2s ease;
    border-bottom: 2px none;
 margin-left: 15px;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-right a:hover {
    text-decoration: none;
    background-color: #E2C2B3;
}

.nav-right .active {
  font-weight: bold;
  background-color: #E2C2B3; 
>>>>>>> 57de026ae6ae6279de2ed65c1989b96d422efdc4
}


.empty-orders {
    text-align: center;
    margin-top: 80px;
    background: white;
    padding: 40px;
    width: 60%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.empty-icon {
    font-size: 50px;
    color: #403234;
    margin-bottom: 15px;
}

.empty-orders h2 {
    margin: 10px 0;
    color: #403234;
}

.empty-orders p {
    color: #555;
    font-size: 16px;
}

.browse-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background:  #46383a;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.browse-btn:hover {
    transform: translateY(-3px);
    background: linear-gradient(135deg, #e2c2b3, #403234);
}