
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #222;
}

/* HEADER - Fixed */
.nav {
 background: #3b2a28;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.nav-logo {
  display:flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  background-color: #E2C2B3;
  color: #3b2a28;
}

.nav-links a.active {
  background-color: #D4B3A7;
  color: #3b2a28;
}

.nav-logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.empty-orders {
    text-align: center;
    margin-top: 80px;
    background: white;
    padding: 40px;
    width: 60%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.empty-icon {
    font-size: 50px;
    color: #403234;
    margin-bottom: 15px;
}

.empty-orders h2 {
    margin: 10px 0;
    color: #403234;
}

.empty-orders p {
    color: #555;
    font-size: 16px;
}

.browse-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: linear-gradient(135deg, #e2c2b3, #403234);
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.browse-btn:hover {
    transform: translateY(-3px);
    background: linear-gradient(135deg, #e2c2b3, #403234);
}
