:root
{
    --primary-color: #4CAF50;
    --secondary-color: #ffffff;
    --font-family: Arial, sans-serif;
}
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}
.nav {
    background-color: var(--primary-color);
    padding: 10px;
    position: fixed;
    margin-top: 0px;
    padding: 4px;
    
    
}
li>a{
    text-decoration: none;
    color: black;
}