:root {
            --bg-color: #f4f6f8;
            --text-color: #5d2c0c;
            --card-bg: #ffffff;
            --header-bg: #403234;
            --table-alt: #f3f3f3;
        }

        body.dark {
            --bg-color: #403234;
            --text-color: #f1f1f1;
            --card-bg: #1e1e1e;
            --header-bg: #341b10;
            --table-alt: #2a2a2a;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            transition: background-color 0.3s, color 0.3s;
        }

        body {
            font-family: "Segoe UI", sans-serif;
            background-color: var(--bg-color);
            color: var(--text-color);
            padding: 20px;
        }

        header {
            background: var(--header-bg);
            color: white;
            padding: 22px;
            border-radius: 10px;
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header h1 {
            font-size: 26px;
        }

        .toggle-btn {
            background: white;
            color: #333;
            border: none;
            padding: 8px 14px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
        }

        body.dark .toggle-btn {
            background: #333;
            color: white;
        }

        .summary {
            display: flex;
            gap: 20px;
            margin-bottom: 30px;
        }

        .card {
            background: var(--card-bg);
            padding: 22px;
            border-radius: 12px;
            width: 230px;
            box-shadow: 0 6px 12px rgba(0,0,0,0.1);
        }

        .card h3 {
            font-size: 16px;
            margin-bottom: 10px;
            color: gray;
        }

        .card span {
            font-size: 30px;
            font-weight: bold;
        }

        .orders h2 {
            margin-bottom: 15px;
            font-size: 22px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: var(--card-bg);
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 6px 12px rgba(0,0,0,0.1);
        }

        thead {
            background: var(--header-bg);
            color: white;
        }

        th, td {
            padding: 14px;
            text-align: left;
        }

        tbody tr:nth-child(even) {
            background: rgb(225, 222, 222);
        }

        select {
            padding: 6px;
            border-radius: 6px;
            border: 1px solid #ccc;
        }

        body.dark select {
            background: #333;
            color: rgba(255, 255, 255, 0.651);
            border-color: #555;
        }
    